.menu {
    background-color: #1d1c22;
    padding: 7px;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}

.menu_list {
    display: flex;
    list-style: none;
    margin: 0;
    flex: auto;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 100px;
    margin-right: 10px;
    padding: 15px 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease-in-out .2s;
}

.active {
    transition: all ease-in-out .2s;
    border: 1px solid rgba(150, 150, 150, 0.8);
}

.menu__item:hover {
    background-color: rgba(150, 150, 150, 0.8);
    color: black
}

.menu__item:last-child {
    margin: 0;
}

.logo {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    animation: rotating 4s linear infinite;
}

.login {
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 90px;
    margin-right: 10px;
    padding: 15px 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.login:hover {
    transition: all ease-in-out .2s;
    background-color: rgba(150, 150, 150, 0.8);
    color: black;
    cursor: pointer;
}